.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  height: 100vh;
  position: relative;
}

.homeContainer section { 
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.title { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title h1 {
  font-size: 3.5rem;
  letter-spacing: -1px;
  background: linear-gradient(270deg, #6f75a9 0%, #484d79 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}

.reposContainer { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.featuredRepositories {
  display: flex;
  flex-basis: 1;
}

.homeFeaturedRepositories {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.homeFeaturedRepositoriesTitle { 
  color: #6C72A5;
}
