.starredContainer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  height: 100vh;
  position: relative;
  height: 100vh;
}

.navigation { 
    width: 100%;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: -1px;
  background: linear-gradient(270deg, #6f75a9 0%, #484d79 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
}

.starredRepositories {
    margin-top: 2rem;
}
