.reposContainer { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.ordenedRepos { 
  width: 100%;
  padding: .5rem 1rem;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.ordenedRepos select {
  padding: .2rem;
  outline: none;
  border-radius: 100px;
}

.repoContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
  }
  
  .repoContent {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    flex: 1;
  }
  
  .repoInfoContainer { 
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
  }
  
  .userImage {
    width: 75px;
    height: 75px;
    border-radius: 100%;
  }
  
  .repoInfo span {
    font-size: 0.75rem;
  }
  
  .repoInfo p {
    padding-top: 0.6rem;
    font-size: 0.75rem;
    color: #a7a5a5;
    max-width: 85ch;
  }
  
  .repoStars span { 
      padding-top: 0.6rem;
      font-size: 0.75rem;
      color: #a7a5a5;
  }
  
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .button {
    height: 100%;
    aspect-ratio: 1;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonStar { 
      background-color: #494E7A;
  }
  
  .buttonLink { 
      background-color: #000000;
  }
  
  .buttonIcon {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: transform .2s ease-in-out;
  }
  
  .button:hover > .buttonIcon { 
      transform: scale(120%);
  }
  
  a { 
      display: flex;
      align-items: center;
      justify-content: center;
  }