.nav { 
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: .2rem;
}

.nav a { 
    color: black;
    text-decoration: none;
    padding: 0 1rem;
}

.nav a:hover { 
    text-decoration: underline;
}